.MovieInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 20px 0;

  border-bottom: 2px solid grey;
}
/* 
.panel {
  width: 300px;
  height: 300px;
} */

/* .container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100%;
  width: 300px;
} */

/* .Poster {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
} */

/* .Info__wrapper {
}
.Name {
}

.Overview {
  margin-bottom: 10px;
}
.Genres__list {
  padding-left: 20px;
}

.Genres__item {
}

.Title {
  display: block;
  margin-bottom: 10px;
} */
