.MovieInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 20px 0;

  border-bottom: 2px solid grey;
}

.Container {
  height: 300px;
  width: 700px;
}

.Container > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.Info__wrapper {
  margin-left: 20px;
}

.Overview {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Genres__list {
  padding-left: 20px;
}

.Title {
  display: block;
  margin-bottom: 10px;
}
