.MovieInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 20px 0;

  border-bottom: 2px solid grey;
}

.Image {
  display: block;
  width: 500px;
}

.Info__wrapper {
  margin-left: 20px;
}

.Overview {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Genres__list {
  padding-left: 20px;
}

.Title {
  display: block;
  margin-bottom: 10px;
}
