body {
  margin: 10px;
}

p,
ul,
h2 {
  margin: 0;
  padding: 0;
}
/* img {
  max-width: 100%;
  height: auto;
} */
.navList {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navList_item:first-child {
  margin-right: 20px;
}

.homePage {
  color: currentColor;
  text-decoration: none;
  font-weight: 500;
}

.homePage__active {
  color: red;
  text-decoration: none;
  font-weight: 700;
}
