.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.Btn:hover,
.Btn:focus {
  transform: scale(1.05);
}

.Arrow {
  margin-right: 5px;
  width: 10px;
  height: 10px;
}
